@page "/chat"
@inject HttpClient Http

<h1>Chat</h1>

<p>Server: @url</p>
@if (!connected)
{
    <label>
        Please enter your name:
        <input type="text" min="1" bind="@name" />
    </label>
    <span>Name: @name</span>
    <button class="btn btn-primary" onclick="@StartChat">Chat</button>
}
@if (connected)
{
    <p>You are now connected to chat!</p>
    <input type="text" bind=@message />
    <button>Send</button>
}

<p>Errors:</p>
<ul class="list-unstyled">
    @foreach (var e in errors)
    {
        <li>@e</li>
    }
</ul>

@functions {
    bool connected = false;

    string url;
    string name;
    List<string> errors = new List<string>();

    Code.ChatClient chatClient;

    string message;

    protected override void OnInit()
    {
        // set url
        url = $"{Http.BaseAddress.Scheme}://{Http.BaseAddress.Authority}";
    }

    async Task StartChat()
    {
        Console.WriteLine("Starting chat..");
        try
        {
            if (!string.IsNullOrEmpty(name))
            {
                chatClient = new Code.ChatClient(url, name);
                await chatClient.Start();
                connected = true;
                StateHasChanged();
                await chatClient.SendMessage($"{name} has joined the chat");
            }
            else
                errors.Add("No name provided");
        }
        catch (Exception e)
        {
            AddErrors(e);
        }
    }

    private void AddErrors(Exception e)
    {
        errors.Add(e.Message);
        var lines = e.StackTrace.Split('\n');
        errors.AddRange(lines);
        if (e.InnerException != null)
            AddErrors(e.InnerException);
    }


}
